<div class="page-header">
  <h3>Status #<%= @status.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Status name</dt>
      <dd><%= @status.status_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/statuses" class="btn btn-primary">
        Back
      </a>
      <a href="/statuses/<%= @status.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_status/<%= @status.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Status has many dates -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Dates
      </li>

      <% @status.dates.each do |event| %>
        <li class="list-group-item">
          <a href="/events/<%= event.id %>">
            <%= event.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/events/<%= event.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/events/<%= event.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_event/<%= event.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_event" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for day_of_week -->
      <div class="form-group">
        <label for="day_of_week" class="control-label">
          Day of week
        </label>

        <input type="text" id="day_of_week" name="day_of_week" placeholder="Day of week" class="form-control" value="">
      </div>

      <!-- Label and input for apartment_id -->
      <div class="form-group">
        <label for="apartment_id" class="control-label">
          Apartment
        </label>

        <%= select_tag(:apartment_id, options_from_collection_for_select(Apartment.all, :id, :apartment_name), :class => "form-control") %>
      </div>

      <!-- Label and input for tenant_id -->
      <div class="form-group">
        <label for="tenant_id" class="control-label">
          Tenant
        </label>

        <%= select_tag(:tenant_id, options_from_collection_for_select(Tenant.all, :id, :tenant_name), :class => "form-control") %>
      </div>

      <!-- Label and input for status_id -->
      <input type="hidden" name="status_id" value="<%= @status.id %>">

      <!-- Label and input for lease_id -->
      <div class="form-group">
        <label for="lease_id" class="control-label">
          Lease
        </label>

        <%= select_tag(:lease_id, options_from_collection_for_select(Lease.all, :id, :lease_start), :class => "form-control") %>
      </div>

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <input type="text" id="description" name="description" placeholder="Description" class="form-control" value="">
      </div>

      <!-- Label and input for start_time -->
      <div class="form-group">
        <label for="start_time" class="control-label">
          Start time
        </label>

        <input type="text" id="start_time" name="start_time" placeholder="Start time" class="form-control" value="">
      </div>

      <!-- Label and input for end_time -->
      <div class="form-group">
        <label for="end_time" class="control-label">
          End time
        </label>

        <input type="text" id="end_time" name="end_time" placeholder="End time" class="form-control" value="">
      </div>

      <!-- Label and input for resourceId -->
      <div class="form-group">
        <label for="resourceId" class="control-label">
          Resourceid
        </label>

        <input type="text" id="resourceId" name="resourceId" placeholder="Resourceid" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Event
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
