<div class="page-header">
  <h3>Status #<%= @status.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Status name</dt>
      <dd><%= @status.status_name %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/statuses" class="btn btn-primary">
        Back
      </a>
      <a href="/statuses/<%= @status.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_status/<%= @status.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Status has many dates -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Dates
      </li>

      <% @status.dates.each do |event| %>
        <li class="list-group-item">
          <a href="/events/<%= event.id %>">
            <%= event.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/events/<%= event.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/events/<%= event.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_event/<%= event.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
