<script type="text/javascript">
	$(function() { // document ready

		$('#calendar').fullCalendar({
			// now: 'today'
			editable: true, // enable draggable events
			aspectRatio: 1.8,
      //allDaySlot: true,
      groupByDateAndResource: true,

      schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
			header: {
				left: 'today prev,next',
				center: 'title',
				right: 'timelineThreeDays,agendaWeek,month'
			},
			defaultView: 'timelineMonth',
			views: {
				timelineThreeDays: {
					type: 'timeline',
					duration: { days: 3 }

				}
			},
			resourceLabelText: 'Rooms',

			resources: [

      	{ "id": "1", "title": "Asteria", "children": [
      		{ "id": "2", "title": "Asteria 312" },
      		{ "id": "3", "title": "Asteria 502"},
      		{ "id": "4", "title": "Asteria 514"},
      		{ "id": "5", "title": "Asteria 811"},
      		{ "id": "6", "title": "Asteria 903"},
      		{ "id": "7", "title": "Asteria 1109"},
      	] },
      	{ "id": "8",  "title": "Vesta", "children": [
      	{ "id": "9",  "title": "Vesta 402", "eventColor": "red" },
      	{ "id": "10", "title": "Vesta 403" },
      	{ "id": "11", "title": "Vesta 406" },
      	{ "id": "12", "title": "Vesta 502" },
      	{ "id": "13", "title": "Vesta 506" },
      	{ "id": "14", "title": "Vesta 507" },
      	{ "id": "15", "title": "Vesta 602" },
      	{ "id": "16", "title": "Vesta 604" },
				{ "id": "17", "title": "Vesta 607" },
      	{ "id": "18", "title": "Vesta 706" },
      	{ "id": "19", "title": "Vesta 803" },

      ] },
		{ "id": "20", "title": "1330", "children": [
			{ "id": "21", "title": "1330 908" },

		]},
		{ "id": "22", "title": "Garrison Square", "children": [
			{ "id": "21", "title": "Garrison 305" },

		]}],

			events: '/events.json',

      eventDrop: function(event, delta, revertFunc) {
          // alert(event.title + " was dropped on " + event.start.format());
          if (!confirm("Are you sure about this change?")) {
              revertFunc();
          } else {
            // 1.  FOR DEBUGGING.
            console.log(event);
            // console.log(event.to_json);
            // console.log(event.start);
            // console.log(event.start._i);
            console.log(event.start._d);

            // 2. Update event
            $.ajax({
              url: event.url,
              type: 'PATCH',
              dataType: "json",
              // Got this part from a Stack Overflow answer / NEEDS REVIEW
              beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
              data:
                { event:
                  {
                    // NEEDS REVIEW TO DETERMINE IF TIME FORMAT CORRECT
                    start_time: event.start._d,
                    end_time: event.end._d,
										resourceId:event.resourceId,
                  }
                },
              success: function(response) {
              }
            });
          }
        }
      })
    });

</script>
<style>

	body {
		margin: 0;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
	}

	#script-warning {
		display: none;
		background: #eee;
		border-bottom: 1px solid #ddd;
		padding: 0 10px;
		line-height: 40px;
		text-align: center;
		font-weight: bold;
		font-size: 12px;
		color: red;
	}

	#loading {
		display: none;
		position: absolute;
		top: 10px;
		right: 10px;
	}

	#calendar {
		max-width: 900px;
		margin: 50px auto;
	}

</style>
</head>
<body>

	<div id='script-warning'>
		This page should be running from a webserver, to allow fetching from the <code>json/</code> directory.
	</div>

	<div id='loading'>loading...</div>

	<div id='calendar'></div>

</body>
</html>
<h1>Tenant  List</h1>

<table>
  <thead>
    <tr>
      <th>Tenant</th>
      <th>Room</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <td><%= event.resourceId %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Event', new_event_path %>

<br>
