<div class="page-header">
  <h3>Event #<%= @event.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Day of week</dt>
      <dd><%= @event.day_of_week %></dd>

      <dt>Apartment</dt>
      <dd>
        <% if @event.apartment.present? %>
          <a href="/apartments/<%= @event.apartment_id %>">
            <%= @event.apartment.apartment_name %>
          </a>
        <% end %>
      </dd>

      <dt>Tenant</dt>
      <dd>
        <% if @event.tenant.present? %>
          <a href="/tenants/<%= @event.tenant_id %>">
            <%= @event.tenant.tenant_name %>
          </a>
        <% end %>
      </dd>

      <dt>Status</dt>
      <dd>
        <% if @event.status.present? %>
          <a href="/statuses/<%= @event.status_id %>">
            <%= @event.status.status_name %>
          </a>
        <% end %>
      </dd>

      <dt>Lease</dt>
      <dd>
        <% if @event.lease.present? %>
          <a href="/leases/<%= @event.lease_id %>">
            <%= @event.lease.lease_start %>
          </a>
        <% end %>
      </dd>

      <dt>Title</dt>
      <dd><%= @event.title %></dd>

      <dt>Description</dt>
      <dd><%= @event.description %></dd>

      <dt>Start time</dt>
      <dd><%= @event.start_time %></dd>

      <dt>End time</dt>
      <dd><%= @event.end_time %></dd>

      <dt>Resourceid</dt>
      <dd><%= @event.resourceId %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/events" class="btn btn-primary">
        Back
      </a>
      <a href="/events/<%= @event.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_event/<%= @event.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
