<div class="page-header">
  <h3>Event #<%= @event.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Day of week</dt>
      <dd><%= @event.day_of_week %></dd>

      <dt>Apartment</dt>
      <dd><%= @event.apartment_id %></dd>

      <dt>Tenant</dt>
      <dd><%= @event.tenant_id %></dd>

      <dt>Status</dt>
      <dd><%= @event.status_id %></dd>

      <dt>Lease</dt>
      <dd><%= @event.lease_id %></dd>

      <dt>Title</dt>
      <dd><%= @event.title %></dd>

      <dt>Description</dt>
      <dd><%= @event.description %></dd>

      <dt>Start time</dt>
      <dd><%= @event.start_time %></dd>

      <dt>End time</dt>
      <dd><%= @event.end_time %></dd>

      <dt>Resourceid</dt>
      <dd><%= @event.resourceid %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/events" class="btn btn-primary">
        Back
      </a>
      <a href="/events/<%= @event.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_event/<%= @event.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
