<div class="page-header">
  <h3>Lease #<%= @lease.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Lease start</dt>
      <dd><%= @lease.lease_start %></dd>

      <dt>Lease end</dt>
      <dd><%= @lease.lease_end %></dd>

      <dt>Tenant</dt>
      <dd><%= @lease.tenant_id %></dd>

      <dt>Apartment</dt>
      <dd><%= @lease.apartment_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/leases" class="btn btn-primary">
        Back
      </a>
      <a href="/leases/<%= @lease.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_lease/<%= @lease.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
