<div class="page-header">
  <h3>Lease #<%= @lease.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Lease start</dt>
      <dd><%= @lease.lease_start %></dd>

      <dt>Lease end</dt>
      <dd><%= @lease.lease_end %></dd>

      <dt>Tenant</dt>
      <dd><%= @lease.tenant_id %></dd>

      <dt>Apartment</dt>
      <dd><%= @lease.apartment_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/leases" class="btn btn-primary">
        Back
      </a>
      <a href="/leases/<%= @lease.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_lease/<%= @lease.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Lease has many dates -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Dates
      </li>

      <% @lease.dates.each do |event| %>
        <li class="list-group-item">
          <a href="/events/<%= event.id %>">
            <%= event.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/events/<%= event.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/events/<%= event.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_event/<%= event.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
