<div class="page-header">
  <h3>Apartment #<%= @apartment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Apartment name</dt>
      <dd><%= @apartment.apartment_name %></dd>

      <dt>Address</dt>
      <dd><%= @apartment.address %></dd>

      <dt>City</dt>
      <dd><%= @apartment.city %></dd>

      <dt>State</dt>
      <dd><%= @apartment.state %></dd>

      <dt>Zip</dt>
      <dd><%= @apartment.zip %></dd>

      <dt>Bedrooms</dt>
      <dd><%= @apartment.bedrooms %></dd>

      <dt>Bathrooms</dt>
      <dd><%= @apartment.bathrooms %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/apartments" class="btn btn-primary">
        Back
      </a>
      <a href="/apartments/<%= @apartment.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_apartment/<%= @apartment.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Apartment has many dates -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Dates
      </li>

      <% @apartment.dates.each do |event| %>
        <li class="list-group-item">
          <a href="/events/<%= event.id %>">
            <%= event.created_at %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/events/<%= event.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/events/<%= event.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_event/<%= event.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Apartment has many leases -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Leases
      </li>

      <% @apartment.leases.each do |lease| %>
        <li class="list-group-item">
          <a href="/leases/<%= lease.id %>">
            <%= lease.lease_start %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/leases/<%= lease.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/leases/<%= lease.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_lease/<%= lease.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
